/*
 * Globals
 */

body {
  background: #000;
  color: #999;
  padding-top: .5em;
}

a, a:hover, a:visited {
  color: #fff;;
}


.center-align-text {
  text-align: center;
}



/*
* Slogan
*/

.slogan {
  padding-top: .3em;
}

/*
*  Navigation
*/

.navigation {
  padding-top: .5em;
}
