/*
 * Globals
 */

body {
  background: #222;
  color: #999;
  padding: .9em .8em 3em .8em;
}

a, a:visited {
  color: #fff;;
}

a:hover {
  color: red;
}


.center-align-text {
  text-align: center;
}

.justify-align-text {
  text-align: justify;
}

/*
* Slogan
*/

.slogan {
  padding-top: .3em;
}

/*
*  Navigation
*/

.navigation {
  padding-top: .5em;
}

/*
* Podcast Link
*/

.podcast {
  padding-top: 2em;
  font-size: 1.3em;
}

/*
*  Mission Statement
*/

.mission-statement {
  padding-top: 2em;
}

.mission-statement p {
  padding-top: 1em;
  font-size: 1.5em;
  color: #d0d0d0;
  text-align: justify
}

/*
* Members
*/

.members {
  padding-top: 1em;
}

.members .headline {
  padding-bottom: 2.0em;
}

.members .bottom-row {
  padding-top: 2em;
}

.members .name {
  font-size: 1.3em;
  padding-top: .5em;
}

/* 
* Media Queries 
*/

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
    

  /*
  * Podcast
  */
  .podcast {
    font-size: 1.1em;
  }

  /*
  * Mission Statement
  */

  .mission-statement {
    padding-top: .5em;
  }

  .mission-statement p {
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
  }

  /*
  * Members
  */
  .members {
    padding-left: 3em;
    padding-right: 3em;
  }

  .members .bottom-row {
    padding-top: .1em;
  }



}