/*
 * Globals
 */

body {
  background: #444;
  color: #999;
  padding: .5em .8em 3em .8em;
}

a, a:hover, a:visited {
  color: #fff;;
}


.center-align-text {
  text-align: center;
}


/*
* Slogan
*/

.slogan {
  padding-top: .3em;
}

/*
*  Navigation
*/

.navigation {
  padding-top: .5em;
}

/*
* Podcast Link
*/

.podcast {
  padding-top: 2em;
  font-size: 1.3em;
}

.podcast a {
  color: red;
}

/*
*  Mission Statement
*/

.mission-statement {
  padding-top: 1.5em;
}

.mission-statement p {
  padding-top: 1em;
  font-size: 1.2em;
  color: #fff;
  text-align: justify
}

/*
* Members
*/

.members {
  padding-top: 1em;
}

.members .bottom-row {
  padding-top: 2em;
}